body {
  font-family: Arial;
  font-size: 12px;
  color: #000; }

.l-main_wpapper {
  width: 1024px; }

.l-header {
  border: 4px double #cecece; }

.b-logo:after {
  content: "some text";
  margin: 0;
  padding: 0; }

.b-error .b-error_message {
  color: blue;
  font-size: 2em;
  font-weight: bold; }

.b-error_message {
  border: 6px double #000;
  padding: 0; }
  .b-error_message span {
    display: block; }

.l-content {
  padding: 20px 0 0; }

.b-column-1 {
  margin: 0;
  padding: 0;
  width: 30px; }

.b-column-2 {
  margin: 0;
  padding: 0;
  width: 60px; }

.b-column-3 {
  margin: 0;
  padding: 0;
  width: 90px; }

.b-column-4 {
  margin: 0;
  padding: 0;
  width: 120px; }

.l-facebook-icon {
  background-image: url("/images/facebook.jpg"); }

.l-gplus-icon {
  background-image: url("/images/gplus.jpg"); }

.l-twitter-icon {
  background-image: url("/images/twitter.jpg"); }

.l-pinterest-icon {
  background-image: url("/images/pinterest.jpg"); }

.b-column-6 {
  width: 60px; }

.b-column-5 {
  width: 50px; }

.l-header a {
  color: green; }
  .l-header a:hover {
    color: red; }

/*# sourceMappingURL=styles.css.map */
