// This file contains all general CSS rules

body {
	@include main-text;
}

.l-main_wpapper {
	width: $site-width;
}

.l-header {
	@include border(#cecece, 4px);
}

@include after-content(".b-logo");

.b-error %alert {
	color: blue;
	font-size: 2em;
	font-weight: bold;
}

.b-error_message {
	@extend %alert;
	@include border(#000, 6px);

	padding: 0;

	span {
		display: block;
	}
}

.l-content {
	@include padding20(onlytop);
}

@for $i from 1 through 4 {
	.b-column-#{$i} {
		margin: 0;
		padding: 0;
		width: 30px * $i;
	}
}

@each $social in facebook, gplus, twitter, pinterest {
	.l-#{$social}-icon {
		background-image: url('/images/#{$social}.jpg');
	}
}

@include extra-columns(6);

.l-header a {
	color: green;

	&:hover {
		color: red;
	}
}
