// This file contains variables and mixins used in project

$main-text-color: #000;
$site-width: 1024px;
@mixin main-text {
	font: {
		family: Arial;
		size: 12px;
	}
	color: $main-text-color;
}
@mixin border($color, $width) {
	border: $width double $color;
}
@mixin after-content($selector) {
	#{$selector}:after {
		content: "some text";
		margin: 0;
		padding: 0;
	}
}
@mixin padding20($side) {
	@if $side == onlytop {
		padding: 20px 0 0;
	} @else if $side == onlyright {
		padding: 0 20px 0;
	} @else if $side == onlybottom {
		padding: 0 0 20px;
	} @else if $side == onlyleft {
		padding: 0 0 0 20px;
	} @else {
		padding: 20px;
	}
}
@mixin extra-columns($i) {
	@while $i > 4 {
		.b-column-#{$i} {
			width: 10px * $i;
		}
		$i: $i - 1;
	}
}
